.emoji-table tr:nth-child(even) {
  background-color: #eee;
}
.emoji-table tr:nth-child(odd) {
  background-color: #fff;
}
.emoji-table th {
  min-width: 35px;
  color: white;
  background-color: black;
  border-spacing: 25px;
  
  font-size: 22px;
  padding: 5px;
}

h3 {
  margin-top: 125px;
}

img {
  width: 48px;
  height: 48px;
}