/*
#searchBox {
  background-image: url('assets/searchicon.png'); 
  background-position: 10px 12px; 
  background-repeat: no-repeat; 
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.emoji-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px; 
}

.emoji-table th, .emoji-table td {
  text-align: center; 
  padding: 12px; 
}

.emoji-table tr {
  border-bottom: 1px solid #ddd;
}

.emoji-table tr.header, .emoji-table tr:hover {
  background-color: #f1f1f1;
}


#content {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

h3 {
  margin-top: 125px;
}

.emoji {
  width: 48px;
  height: 48px;
}

#showFavorites {
  width: 100%;
  font-size: 24px;
  background-color: #f1f1f1;
  height: 42px;
  border: 1px solid #ddd;
  outline: none;
}

#notes {
  width: 250px;
  height: 55px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  padding: 15px;
}

*/

.emoji {
  width: 48px;
  height: 48px;
}

#header {
  text-align: left;
  border-bottom: 2px solid #1f1f1f;
  border-top: 2px solid #1f1f1f;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: auto 178px;
  grid-template-rows: auto;
  grid-template-areas:
    "note-1 theme"
    "note-2 theme";
}

#header p:nth-child(1){
  grid-area: note-1;
}

#header p:nth-child(2){
  grid-area: note-2;
}

#theme {
  float: right;
  grid-area: theme;
  margin-top: 10px;
}

#light-mode { grid-row-start: 2; width: 171.42px; }

#dark-mode { grid-row-start: 3; width: 171.42px; }

@media (max-width: 760px) {
  #header {
    grid-template-columns: auto;
    grid-template-rows: 50px;
  }
  
  #header p {
    display: none;
  }
}

#searchBox {
  width: 75%;
  justify-content: left;
  flex-grow: 3;
}

#showFavorites {
  justify-content: right;
  height: 41px;
  float: right;
  flex-grow: 1;
}

#control {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#alert {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 50%;
  height: 45px;
  
  background-color: #0ac4c1;
  border: none;
  border-radius: 5px;
  
  position: sticky;
  top: 5px;
  
  color: white;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
}

.table-wrap h3 {
  cursor: pointer;
}

.collapsed-table table {
  display: none;
}

.collapsed-table h3 {
  border-bottom: 2px solid white;
}

td {
  line-height: 48px;
}