#searchBox {
  background-image: url('assets/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.emoji-table {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

.emoji-table th, .emoji-table td {
  text-align: center; /* Left-align text */
  padding: 12px; /* Add padding */
}

.emoji-table tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

.emoji-table tr.header, .emoji-table tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

#content {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

h3 {
  margin-top: 125px;
}

.emoji {
  width: 48px;
  height: 48px;
}

#showFavorites {
  width: 100%;
  font-size: 24px;
  background-color: #f1f1f1;
  height: 42px;
  border: 1px solid #ddd;
  outline: none;
}

#notes {
  width: 250px;
  height: 55px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  padding: 15px;
}

#alert {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 50%;
  height: 45px;
  
  background-color: #0ac4c1;
  border: none;
  border-radius: 5px;
  
  position: sticky;
  top: 5px;
  
  color: white;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
}